@page
@model Avondale_College_Shop.Pages.Shared.Senior_GirlsModel
@{ 
        ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Avondale College</h1>
    <p> 
        <h1> We Wear Unifrom With Pride  </h1>
    </p>
</div>
