@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" type="text/css" href="style.css">

<div class="text-center">
    <h4 class="display-4">Avondale College</h4>
    <p>
        <h5> We Wear Unifrom With Pride!! </h5>
    </p>
</div>


 <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container"> 
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000" style="width:100%; height:50%">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="~/Images/R.jpg" alt="Atrium" style="width:100%; height:100%">
        <div class="carousel-caption">
        <h3 style="color:black; text-align:center">
        Our uniform is available exclusively from our College Shop.
        </h3>
         <h4 style="color:black">
        The Avondale College Shop is open Monday to Friday during term time, from 8.15 am - 1.30 pm,
        selling the Avondale College uniform and some stationery items.
        The shop is located in the main Atrium building (Victor Street entrance).
        EFTPOS facilities are available (AMEX not accepted).
         </h4>
      </div>
      </div>

      <div class="item">
        <img src="~/Images/OIP.jpg" alt="College shop" style="width:100%; height:100%">
        <div class="carousel-caption">
        <h4 style="text-align:center">
        Should your family require a WINZ quote, or if you need further information, please contact :
        Leslie Negre, collegeshop@avcol.school.nz, telephone 820 1734.
        </h4>
      </div>
     </div>
    
      <div class="item">
        <img src="~/Images/College Shop Size Guide.webp" alt="Size Guide" style="width:100%; height:100%">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

