@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Avondale College</h1>
    <p>Wear Unifrom with pride
    </p>
</div>
<img src="~/images/capture.png" alt="College shop Photo" style="width:1250px;height:600px;" />
