@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Avondale College</h1>
    <p> 
        <h1> We Wear Unifrom With Pride  </h1>
    </p>
</div>
<img src="~/images/capture.png" alt="College shop Photo" style= "width:1300px;height:600px;" />

<div class="text-center">
    <img src="~/images/college shop size guide.webp" style="float:left " />

    <p>
        Our uniform is available exclusively from our College Shop.
    </p>
        <p style= "font-size: 100%;">
        The Avondale College Shop is open Monday to Friday during term time, from 8.15 am - 1.30 pm,
        selling the Avondale College uniform and some stationery items.
        The shop is located in the main Atrium building (Victor Street entrance).
        EFTPOS facilities are available (AMEX not accepted).
        Should your family require a WINZ quote, or if you need further information, please contact :
        Leslie Negre, collegeshop@avcol.school.nz, telephone 820 1734.
        </p>

</div> 