@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Avondale College</h1>
    <p>
        <h1> We Wear Unifrom With Pride  </h1>
    </p>
</div>
<div class="slideshow-container">

    <div class="mySlides">
        <img src="~/images/r.jpg" style="width:100%; height:50%"/>
     </div>

    
</div> 
<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
</script>
<div class="text-center">

    <h2>
        Our uniform is available exclusively from our College Shop.
    </h2>
    <h3 style="font-size: 100%;">
        The Avondale College Shop is open Monday to Friday during term time, from 8.15 am - 1.30 pm,
        selling the Avondale College uniform and some stationery items.
        The shop is located in the main Atrium building (Victor Street entrance).
        EFTPOS facilities are available (AMEX not accepted).
    </h3>

    <h4>
        Should your family require a WINZ quote, or if you need further information, please contact :
        Leslie Negre, collegeshop@avcol.school.nz, telephone 820 1734.
    </h4>

</div> 