@page
@model Avondale_College_Shop.Pages.JUniformModel
@{
}
<h1> Junior Uniforms for students in Year 9-10</h1> 
<div class="row">
    <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/junior uniform/junior pants.png" />
            <div class="card-body">
                <h5 class="card-title">Grey Trousers</h5>
                <p class="card-text">Buy for $66</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

    <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/junior uniform/junior shorts.png" />
            <div class="card-body">
                <h5 class="card-title">Grey Shorts</h5>
                <p class="card-text">Buy for $50</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

   <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/junior uniform/polo.png" />
            <div class="card-body">
                <h5 class="card-title">Polo Shirt</h5>
                <p class="card-text">Buy for $35</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

   <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/junior uniform/long sleeve polo.png" />
            <div class="card-body">
                <h5 class="card-title">Polo Shirt Long Sleeve</h5>
                <p class="card-text">Buy for $40</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

</div>


<div class="row">

    <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/junior uniform/short skirt.png" />
            <div class="card-body">
                <h5 class="card-title">Short Skirt</h5>
                <p class="card-text">Buy for $69</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

   <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/junior uniform/skirt.png" />
            <div class="card-body">
                <h5 class="card-title">Long Skirt</h5>
                <p class="card-text">Buy for $80</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

   <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/junior uniform/girls shorts.png" />
            <div class="card-body">
                <h5 class="card-title">Girls Shorts</h5>
                <p class="card-text">Buy for $75</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

    <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/junior uniform/jacket.png" />
            <div class="card-body">
                <h5 class="card-title">Jacket</h5>
                <p class="card-text">Buy Sizes XXS-XS for $110</p>
                <p class="card-text">Buy Sizes Small-5XL for $135</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

</div>



<div class="row">
    <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/junior uniform/pe shorts.png" />
            <div class="card-body">
                <h5 class="card-title">PE Shorts</h5>
                <p class="card-text">Buy for $45</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

    <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/junior uniform/pe top.png" />
            <div class="card-body">
                <h5 class="card-title">PE Top</h5>
                <p class="card-text">buy for $60</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

   <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/junior uniform/jersey junior.png" />
            <div class="card-body">
                <h5 class="card-title">Jersey</h5>
                <p class="card-text">Buy for $99</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

   <div class="col">
         <div class="card" style="width: 18rem;">
           <img src="~/images/junior uniform/cap.png" />
            <div class="card-body">
                <h5 class="card-title">Cap</h5>
                <p class="card-text">Buy for $23</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

</div>