@page
@model Avondale_College_Shop.Pages.LocateModel
@{
}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3191.00689608935!2d174.68786185159777!3d-36.89018328943436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d46cd23ece1e9%3A0xe57882263b141a5e!2sAvondale%20College!5e0!3m2!1sen!2snz!4v1680736087978!5m2!1sen!2snz" width="1100" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<h1 style="text-align:left; font-size:20px;"> Contact Us </h1>

<a href="mailto:ac116940@avcol.school.nz?subject = question&body = message">
    For questions or Inquiries,
</a>