@page
@model Avondale_College_Shop.Pages.PasswordModel
@{ 
}
<h1>Change Password</h1>

<form method="post" action="">
    <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

    </div>

    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" title="New password" />

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" title="Confirm new password" />

    <label for="token">Pasword Token:</label>
    <input type="text" id="token" name="token" title="Password Token" />

    <p class="form-actions">
        <input type="submit" value="Change Password" title="Change password" />
    </p>

</form>