@page
@model Avondale_College_Shop.Pages.SUniformModel
@{
}
<p> Senior Uniforms for students in Year 11-13</P> 
<div class="row">
    <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/senior uniform/senior shorts.png" />
            <div class="card-body">
                <h5 class="card-title">Pinstripe Shorts</h5>
                <p class="card-text">Buy For $50</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

    <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/senior uniform/senior pants.png" />
            <div class="card-body">
                <h5 class="card-title">Black Trousers</h5>
                <p class="card-text">Buy for $66</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

   <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/senior uniform/senior shirts.png" />
            <div class="card-body">
                <h5 class="card-title">Senior Shirts</h5>
                <p class="card-text">Buy for $50</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

   <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/senior uniform/senior shirts long sleeve.png" />
            <div class="card-body">
                <h5 class="card-title">Senior Shirt Long Sleeve</h5>
                <p class="card-text">Buy for $51</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

</div>


<div class="row">
    <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/senior uniform/senior shirts girls.png" />
            <div class="card-body">
                <h5 class="card-title">Senior Blouse</h5>
                <p class="card-text">Buy for $56</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

    <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/senior uniform/senior shirts girls long sleeve.png" />
            <div class="card-body">
                <h5 class="card-title">Senior Blouse Long Sleeve</h5>
                <p class="card-text">Buy for $59</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

   <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/senior uniform/skirt.png" />
            <div class="card-body">
                <h5 class="card-title">Senior Long Skirt</h5>
                <p class="card-text">Buy for $80</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

   <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/senior uniform/girls shorts.png" />
            <div class="card-body">
                <h5 class="card-title">Senior Short Skirt</h5>
                <p class="card-text">Buy for $69</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

</div>



<div class="row">
    <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/senior uniform/blazer.png" />
            <div class="card-body">
                <h5 class="card-title">Blazer</h5>
                <p class="card-text">Buy for $220</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

    <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/senior uniform/jersey.png" />
            <div class="card-body">
                <h5 class="card-title">Jersey</h5>
                <p class="card-text">Buy for $99</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

   <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/senior uniform/jacket.png" />
            <div class="card-body">
                <h5 class="card-title">Jacket</h5>
                <p class="card-text">Buy Sizes XXS-XS for $110</p>
                <p class="card-text">Buy Sizes Small-5XL for $135</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

   <div class="col">
         <div class="card" style="width: 18rem;">
            <img src="~/images/senior uniform/tie.png" />
            <div class="card-body">
                <h5 class="card-title">Tie</h5>
                <p class="card-text">Buy for $29</p>
                <a href="https://localhost:7032/Identity/Account/Login" class="btn btn-primary">Add to order</a>
            </div>
         </div>
   </div>

</div>